@font-face {
  font-family: VCR_OSD_MONO;
  src: url(VCR_OSD_MONO_1.001.ttf);
}

body {
    background-color: black;
}

div {
    outline: 4px solid white;
    width: 750px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    text-align: center;
    color: white;
    font-family: VCR_OSD_MONO;
}